/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #444;
    color: #FFD700;
    padding: 20px 0;
    background-image: 
    
}

main {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
 }

 p {
    font-size: 17px;
    background-color: #444;
    margin-left: 30%;
    margin-right: 30%;
    
 }

 div{

    
 }


 